@use '@carbon/layout';
@use '@carbon/type';
@use '~@openmrs/esm-styleguide/src/vars' as var;

.metricsContainer {
  display: flex;
  justify-content: space-between;
  background-color: var.$ui-02;
  height: layout.$spacing-10;
  align-items: center;
  padding: 0 layout.$spacing-06;
  float: right;
}

.metricsTitle {
  @include type.type-style('heading-03');
  color: var.$ui-05;
}
